.font-Heebo-24 {
	font-family: 'Heebo', sans-serif;
	font-size: 24px;
	font-weight: 500;
	line-height: 24px;
}

.font-Heebo-16 {
	font-family: 'Heebo', sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 16px;
}

.font-Heebo-16-bold {
	font-family: 'Heebo', sans-serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 16px;
}

.font-Heebo-reg-16 {
	font-family: 'Heebo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 13px;
}

.font-Heebo-regular-16 {
	font-family: 'Heebo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
}

.font-Heebo-15-light {
	font-family: 'Heebo', sans-serif;
	font-size: 15px;
	font-weight: 300;
	line-height: 18px;
}

.font-Heebo-15-med {
	font-family: 'Heebo', sans-serif;
	font-size: 15px;
	font-weight: 500;
	line-height: 15px;
}

.font-Heebo-reg-13 {
	font-family: 'Heebo', sans-serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 13px;
}

.font-Heebo-reg-14 {
	font-family: 'Heebo', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 14px;
	color: #bdbdbd;
}



.font-Heebo-med-14 {
	font-family: 'Heebo', sans-serif;
	font-size: 14px;
	font-weight: 500;
	line-height: 13px;
}