@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');


.font-heebo {
    font-family: 'Heebo', sans-serif;
  }
  
  .font-heebo-light {
    font-family: 'Heebo', sans-serif;
    font-weight: 300;
  }
  
  .font-heebo-regular {
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
  }
  
  .font-heebo-medium {
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
  }
  
  .font-heebo-semibold {
    font-family: 'Heebo', sans-serif;
    font-weight: 600;
  }
  
  .font-heebo-bold {
    font-family: 'Heebo', sans-serif;
    font-weight: 700;
  }
  
  .font-heebo-extra-bold {
    font-family: 'Heebo', sans-serif;
    font-weight: 800;
  }
  
  .font-heebo-black {
    font-family: 'Heebo', sans-serif;
    font-weight: 900;
  }
  